.header{
  display: flex;
  max-width: 100%;
  background-color: rgba(131, 238, 220, 0.703);   
  word-break: break-all;
  }

  .logo{
   
    height:70px; 
     width: 70px;
     box-sizing: inherit;
     align-items: center;
     padding-top: 2%;
     padding-left: 3%;
     padding-bottom: 2%;
     
}
  img{
   
    height:inherit;
    width: inherit;
    
     background: transparent;
     border-radius: 55%;
     animation-name: example;
    animation-duration: 4s;

    animation-iteration-count: infinite;
  }

   @keyframes example {
    from { 
      transform: rotatez(360deg);
    }
  
  }


  .welcome{
    text-shadow: 2px 2px 4px #000000;
    font-size: 150%;
    padding-top: 4%;
    padding-left: 2%;
    animation-name: example2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: red;
   }

    

   @keyframes example2 {
    from { 
      transform: rotatey(360deg);
      color: yellow;
    }
    to{
      color: red;
    }
  
  }
   .navbar{
    padding: 10px;
    color: rgba(216, 190, 44, 0.823);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

 

  .navbarleft{
   
      margin-top: 2% ;
      display: flex;
      margin-left: auto;
      font-size: 250%;
      text-align: center;
      
  }
  a{
    color: rgba(216, 190, 44, 0.823);
    text-decoration: none;
  }
 
 
  .menuBar{
    color: rgba(216, 190, 44, 0.823);
    font-style: bold;
  }
  .menuBar :hover{
    font-style: bold;
    background-color: rgb(242, 114, 114);
    border-radius: 30%;
  }
  .divMenuIcon:hover{
    color: rgb(242, 161, 114);
    background-color: aliceblue;
    border-radius: 30%;



  }
  .divMenuIcon{
    color: rgb(242, 114, 114);

  }
  .menuBarMain{
    margin-left: auto; 
    /* margin-right: 2%; */
    display: flex;
    margin-top: 2%;
   
  }
  .menuBarMainSub{
    margin-left: -2%;
  }
  @media screen and (max-width: 230px) and (min-width:160px) {
    .logo {
      height:20px; 
      width: 20px;
      padding-left: 2%;
      padding-bottom: 1%;
    }
    .welcome{
    
      font-size: 60%;
  
     
     }
    }
    @media screen and (max-width: 160px) {
      .logo {
        height:15px; 
        width: 15px;
        padding-left: 0.2%;
        padding-bottom: 0.1%;
      }
      .welcome{
      
        font-size: 40%;
        padding-top: 6%;
        padding-left: 2%;
       
       }
       
      .menuBar{
        font-size: 40%;
      }
      }
    @media screen and (max-width: 380px)and (min-width:230px) {
      .logo {
        height:40px; 
        width: 40px;
        padding-left: 2%;
        padding-bottom: 1%;
      }
      .welcome{
      
        font-size: 100%;
    
       
       }
      }

